In [50]:
import pandasql

import pandas as pd

In [51]:
dataPath=r"SRC\tweetsAndHastags.csv"
data=pd.read_csv(dataPath)
print("Numero tweets:",len(data))
print("colonne:",data.columns)

Numero tweets: 259643
colonne: Index(['author_id', 'tweet_id', 'conversation_author_id', 'conversation_id',
       'timestamp', 'text', 'sentiment', 'Hastags'],
      dtype='object')

In [52]:
# Count the occurrences of values in 'Column1'
value_counts = data['timestamp'].value_counts()

print("Date distinete:",len(value_counts))

Date distinete: 48992

In [53]:
def get_values(sent):
    sent=sent.replace("[","").replace("]","").split()
    if len(sent)!=3:
        print (sent)
        return "0"
    
    else:
        out=[]
        for s in sent:
            out.append(float(s))   
        return out

In [54]:
#creating the user, date, sentiment rows
import ast
columns_SRC=["author_id","timestamp","sentiment"]
columns_TGT=["author_id","timestamp","negative","medium","positive"]
user2date2sentiment=data[columns_SRC]
rows=[]
for index, row in user2date2sentiment.iterrows():
    auth=row["author_id"]
    time=row["timestamp"]
    sentiment=row["sentiment"]
    sentiment=get_values(sentiment)
    if sentiment!="0":
        neg=sentiment[0]
        med=sentiment[1]
        pos=sentiment[2]
    else:
        neg=pos=med=0
    

    current_record=[auth,time,neg,med,pos]


    rows.append(current_record)

user2date=pd.DataFrame(data=rows,columns=columns_TGT)

["'exception'"]
["'exception'"]
["'exception'"]
["'exception'"]
["'exception'"]

In [55]:
#save
user2date.to_csv(r"TGT\USER2date2sentiment.csv")
user2date.columns

Index(['author_id', 'timestamp', 'negative', 'medium', 'positive'], dtype='object')

In [56]:
user2date['timestamp'] = pd.to_datetime(user2date['timestamp'], unit='s')

In [57]:
user2date['timestamp'] = user2date['timestamp'].dt.date

In [59]:
user2date.head(10)

             author_id   timestamp  negative    medium  positive
0  1526589356747661312  2022-11-28  0.873068  0.121616  0.005316
1  1380638725894459397  2022-11-30  0.039362  0.888115  0.072523
2  1380638725894459397  2022-11-29  0.022719  0.855413  0.121868
3           2388538481  2022-11-30  0.069697  0.664478  0.265825
4  1303026765737218049  2022-11-29  0.261828  0.637353  0.100819
5  1281720444828225536  2022-11-30  0.150762  0.813997  0.035241
6              4782551  2022-11-29  0.147255  0.817532  0.035213
7  1220611072945729536  2022-11-30  0.036036  0.835449  0.128515
8            524531680  2022-11-29  0.040383  0.831628  0.127989
9  1284968922446532609  2022-11-30  0.746930  0.245318  0.007752

In [60]:



result = user2date.groupby(['author_id', 'timestamp']).agg({'positive': 'mean', 'negative': 'mean','medium':'mean'}).reset_index()

In [65]:


# Sort the DataFrame based on the 'Timestamp' column
df_sorted = result.sort_values('timestamp')

In [63]:
print("before agg:",len(user2date))
print("after agg:",len(df_sorted))

before agg: 259643
after agg: 81317

In [66]:
df_sorted.head(20)

                 author_id   timestamp  positive  negative    medium
1098              27840712  2009-04-23  0.260067  0.073346  0.666587
15484            585076567  2014-06-13  0.371753  0.014257  0.613990
29216   757870866906480640  2017-05-11  0.027612  0.170343  0.802046
4700             105754581  2018-11-27  0.067647  0.101853  0.830500
17232            902408190  2019-07-14  0.011495  0.829057  0.159448
3062              64791519  2019-09-13  0.167163  0.050118  0.782720
633               19373140  2020-11-11  0.077626  0.182335  0.740039
2341              50029519  2020-12-12  0.167163  0.050118  0.782720
22759           2537079990  2020-12-22  0.500203  0.004643  0.495155
45636  1258048349040783360  2021-09-21  0.167163  0.050118  0.782720
34621   949254143876747264  2022-02-01  0.049079  0.061307  0.889614
37203  1028710711600574466  2022-03-30  0.348000  0.009549  0.642451
34900   955967890301190144  2022-03-30  0.460610  0.005868  0.533523
58300  1460578703692423172  2022-03-30  0.291695  0.011389  0.696916
36208   998288586150699009  2022-04-01  0.030916  0.174663  0.794421
45653  1258219400395661314  2022-04-01  0.115819  0.053016  0.831166
3079              65290276  2022-04-06  0.072899  0.036202  0.890900
50361  1339709301028491266  2022-04-23  0.160482  0.006263  0.833255
26679           3958326078  2022-04-23  0.040169  0.240156  0.719675
30767   820854107347046400  2022-05-06  0.086027  0.034476  0.879498

In [68]:
df_sorted.to_csv(r"TGT\user2date2setimentAGG.csv",index=False)